################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/SoftRender/.vs
/SoftRender/Release
/SoftRender/x64
/SoftRender/Dice
/SoftRender/Debug
/SoftRender/Shiodome_Stairs
/SoftRender/gun
/SoftRender/cmftStudio.exe
/SoftRender/cmftstudio.conf
/SoftRender/output_skybox.tga
/SoftRender/output_skybox.hdr
/SoftRender/output_skybox.dds
/SoftRender/output_pmrem.hdr
/SoftRender/output_iem.hdr
/SoftRender/helmet
